<div class="callout secondary">
  <h5>Observable service</h5>
  <p>This album list is using a RXJS Observable based data service to GET some JSON. This data service is then injected into a compoent which has subscribed to the service.</p>
  <a href="#">It's dangerous to go alone, take this.</a>
</div>
<div class="row small-up-1 medium-up-4 large-up-6">

    <div class="column column-block" *ngFor="let img of images" >
      <div class="card">
        <img src="{{img.url}}">
        <div class="card-section">
          <h4>{{img.title}}</h4>
          <p>Album ID: {{img.albumId}}</p>
        </div>
      </div>
    </div>
</div>

